@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-main-bcg: hsl(235, 21%, 11%);
  --clr-list-bcg: hsl(235, 24%, 19%);
  --clr-text: hsl(234, 39%, 85%);
  --clr-blue-light-gray-hover: hsl(236, 33%, 92%);
  --clr-blue-dark-gray: hsl(233, 14%, 35%);
  --clr-blue-dark-gray-2: hsl(233, 14%, 35%);
  --clr-check-background: linear-gradient(
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --clr-bright-blue: hsl(220, 98%, 61%);
}

.dark-theme {
  --clr-main-bcg: hsl(235, 21%, 11%);
  --clr-list-bcg: hsl(235, 24%, 19%);
  --clr-text: hsl(234, 39%, 85%);
  --clr-blue-light-gray-hover: hsl(236, 33%, 92%);
  --clr-blue-dark-gray: hsl(233, 14%, 35%);
  --clr-blue-dark-gray-2: hsl(233, 14%, 35%);
  --clr-check-background: linear-gradient(
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --clr-bright-blue: hsl(220, 98%, 61%);
}

.light-theme {
  --clr-main-bcg: hsl(0, 0%, 98%);
  --clr-list-bcg: hsl(233, 11%, 84%);
  /* --clr-list-bcg: hsl(236, 33%, 92%); */
  --clr: hsl(236, 33%, 92%);
  --clr-2: hsl(233, 11%, 84%);
  --clr-3: hsl(236, 9%, 61%);
  --clr-text:  hsl(235, 19%, 35%);

   
}

body {
  /* background-color: var(--clr-blue-light-gray); */
  background-color: var(--clr-main-bcg);
  /* background-image: url('./images/bg-desktop-dark.jpg'); */
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* color: var(--clr-blue-light-gray); */
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s linear;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 300px;
  /* max-width: 400px; */
  /* background-color: blue; */
}

h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 700;
}

ul {
  list-style: none;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid var(--clr-blue-dark-gray);
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circle:hover,
.circle:focus {
  border: 1px solid hsl(280, 87%, 65%);
}

.circle.completed {
  background: var(--clr-check-background);
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid var(--clr-blue-dark-gray);
  background-color: var(--clr-blue-dark-grey);
}

.list-item--left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn.active {
  color: hsl(220, 98%, 61%);
}

